@import "tailwindcss";

@theme {
  --color-legends-blue-50: #EFF6FF;
  --color-legends-blue-100: #DBEAFE;
  --color-legends-blue-200: #BFDBFE;
  --color-legends-blue-300: #93C5FD;
  --color-legends-blue-400: #60A5FA;
  --color-legends-blue-500: #3B82F6;
  --color-legends-blue-600: #2563EB;
  --color-legends-blue-700: #1D4ED8;
  --color-legends-blue-800: #1E40AF;
  --color-legends-blue-900: #1E3A8A;
  
  --color-legends-purple-50: #F3E8FF;
  --color-legends-purple-100: #E9D5FF;
  --color-legends-purple-200: #D8B4FE;
  --color-legends-purple-300: #C084FC;
  --color-legends-purple-400: #A855F7;
  --color-legends-purple-500: #9333EA;
  --color-legends-purple-600: #7E22CE;
  --color-legends-purple-700: #6B21A8;
  --color-legends-purple-800: #581C87;
  --color-legends-purple-900: #4C1D95;
  
  --color-legends-red-50: #FEF2F2;
  --color-legends-red-100: #FEE2E2;
  --color-legends-red-200: #FECACA;
  --color-legends-red-300: #FCA5A5;
  --color-legends-red-400: #F87171;
  --color-legends-red-500: #EF4444;
  --color-legends-red-600: #DC2626;
  --color-legends-red-700: #B91C1C;
  --color-legends-red-800: #991B1B;
  --color-legends-red-900: #7F1D1D;
}

/* Custom styles */
body {
  @apply bg-white dark:bg-legends-blue-900 text-gray-900 dark:text-white;
}




